/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Cairo');
body{
    font-size: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url(../images/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Cairo', sans-serif;
/*    color: #FFF*/

}
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main {

}
/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
 /* socail-list */
.socail-list{
    
}
.socail-list li {
    display: inline-block;
    font-size: 20px;
    margin: 10px 20px
}
.socail-list li:hover {
    color: #163d64
}
/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.brand {
    width: 300px;
    margin: 50px auto;
    display: block
}
h1 {
    padding: 0 0 80px 0
}
.demos {
    padding-bottom: 70px
}
.demos a {
    position: relative;
    display: block;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px
}
.demos a:after{
    content: "";
    position: absolute;
    bottom: -20px;
    height: 25px;
    width: 100%;
    opacity: 0.2;
    transform: translateY(0px);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    transition: all 0.3s ease-in-out;
    visibility: hidden
}
.demos a:hover{
    transform: translateY(-5px);
}
.demos a:hover:after{
     transform: translateY(10px);
     opacity: 1;
    visibility: visible
}
.demos .preview {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    opacity: 0.2;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
    visibility: hidden
}
.demos a:hover .preview{
    visibility: visible;
    opacity: 1
}
.demos h2 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
footer {
    padding: 50px 0
}